*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
    text-align: center;
}
.container{
    margin-top: 10px;
    height: 70vh;
}
.game{
    padding-top: 25px;
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
    margin: 0 auto;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0, 0, 0.3);
    font-size: 4vmin;
}
.reset_game {
    padding: 12px 29px;
    background: white;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}
.new_button{
    padding: 12px 29px;
    background: white;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}
.hide{
    display: none;
}